.DS_Store
node_modules/
log/
npm-debug.log*
polymer/polymerImg.js
polymer/lib/polymerImg.js
polymer/img
polymer/*.html
polymer/*.js
package-lock.json
selenium-debug.log
# Editor directories and files
.idea
.project
.happypack
.cache
*.suo
*.ntvs*
*.njsproj
*.sln
